<!-- DEMO mission file for GADEN PLAYER in a 3D environment-->

<launch>
    <!-- arg name="FixedFrame" default="world" / -->
    <arg name="log" default="log" />
    <arg name="respawn" default="true" />

    ### NODE PLAYER ###
    #-------------------
    <node pkg="gaden_player" type="gaden_player" name="gaden_player" output="$(arg log)" respawn="$(arg respawn)">
        <param name="/verbose" value="false" />
	<param name="/player_freq" value="2" />        ###(Hz) Freq for loading the simulation log_files	    	    
	<param name="/num_simulators" value="1" />      ### Number of simulations to load [1-inf] (useful for multiple sources and gases)
    
        # Data from the "filament_simulator" pkg
        # Multiple sources can be set here
	<!-- param name="/simulation_data_0" value="/media/jbourne/Dropbox/gaden/logs_gas_dipersion_simulator/test_case_1/FilamentSimulation_gasType_0_sourcePosition_50.00_50.00_2.50_iteration_" / -->
	<!-- param name="/simulation_data_0" value="$(find gaden_demo)/demo/logs_gas_dipersion_simulator/FilamentSimulation_gasType_0_sourcePosition_25.00_25.00_2.50_iteration_" / -->

	<param name="/simulation_data_0" value="/media/jbourne/Dropbox/gaden/logs_gas_dipersion_simulator/test_case_1_1/FilamentSimulation_gasType_0_sourcePosition_50.00_50.00_2.50_iteration_" />

	<param name="/source_position_x" value="50"/>
	<param name="/source_position_y" value="50"/>
        <param name="/source_position_z" value="2.5"/>

    </node>
   
</launch>


