<!-- DEMO mission file for GADEN PLAYER in a 3D environment-->

<launch>
    <arg name="log" default="log" />
    <arg name="sensorFrame" default="gps1"/>
    <arg name="topic_name" default="mps_data"/>
    <arg name="agent_number" default="1"/>
    
    ### NODE Simulated Gas Sensor ###
    #--------------------------------
    # SENSOR MODELS: 
    # MOX: TGS2620=0, TGS2600=1, TGS2611=2
    # PID: MiniRaeLite=30
    
    <node pkg="simulated_gas_sensor" type="simulated_gas_sensor" name="pid" output="$(arg log)" respawn="true">
       <param name="/sensor_model" value="30"/>
       <param name="/sensor_frame" value="$(arg sensorFrame)"/>
       <param name="/fixed_frame" value="world"/>
       <param name="topicName" value="$(arg topic_name)"/>
       <param name="AGENT_NUMBER" value="$(arg agent_number)"/>
       <param name="xbeeRate" value="1.5"/>
       <param name="simXbee" value="true"/>
    </node>
    
</launch>


